<%= form_for(@hefan) do |f| %>
  <% if @hefan.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@hefan.errors.count, "error") %> prohibited this hefan from being saved:</h2>

      <ul>
      <% @hefan.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

   <div class="field">
     <%= f.label :restaurant_id, (I18n.t"restaurant") %>ID<br>
     <%= f.text_field :restaurant_id %>
   </div>

  <div class="field">
    <%= f.label :name, (I18n.t"name") %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description, (I18n.t"description") %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :price, (I18n.t"price") %><br>
    <%= f.text_field :price %>
  </div>
  <div class="field">
    <%= f.label :photo %><br>
    <%= f.file_field :photo %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
