<h1><%= I18n.t"list_hefan" %></h1>

<div class="container-fiuld">
  <% @hefans.each do |hefan| %>
      <div class="box pin">
        <%= link_to image_tag(hefan.photo), hefan %>
        <%= hefan.name %>
        <%= hefan.price %>
        <br>
        <%= hefan.description %>


      </div>

      <!--
  <%= link_to 'Show', hefan %>
  <%= link_to 'Edit', edit_hefan_path(hefan) %>
  <%= link_to 'Destroy', hefan, method: :delete, data: { confirm: 'Are you sure?' } %>
  -->

  <% end %>
</div>


<br>
<%= paginate @hefans %>
