<h1><%= I18n.t"list_hefan" %></h1>

<% @hefans.each do |hefan| %>
  <%= hefan.name %>
  <%= hefan.description %>
  <%= hefan.price %>
  <%= hefan.photo %>
  <%= link_to 'Show', hefan %>
  <%= link_to 'Edit', edit_hefan_path(hefan) %>
  <%= link_to 'Destroy', hefan, method: :delete, data: { confirm: 'Are you sure?' } %>
      </tr>
<% end %>

<br>
<%= paginate @hefans %>
