<h1><%= I18n.t"list_district" %></h1>

<table>
  <thead>
    <tr>
      <th><%= I18n.t"name" %></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @districts.each do |district| %>
      <tr>
        <td><%= district.name %></td>
        <td><%= link_to (I18n.t"show"), district %></td>
        <td><%= link_to (I18n.t"edit"), edit_district_path(district) %></td>
        <td><%= link_to (I18n.t"delete"), district, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to (I18n.t"new_district"), new_district_path %>
