<h1><%= I18n.t"list_restaurant" %></h1>

<div class="row">
  <div class="col-md-2"><%= I18n.t"name" %></div>
  <div class="col-md-4"><%= I18n.t"description" %></div>
  <div class="col-md-1">""</div>
  <div class="col-md-1">""</div>
  <div class="col-md-1">""</div>
</div>

<% @restaurants.each do |restaurant| %>
  <div class="row">
    <div class="col-md-2"><%= restaurant.name %></div>
    <div class="col-md-4"><%= restaurant.description %></div>
    <div class="col-md-1"><%= link_to 'Show', restaurant %></div>
    <div class="col-md-1"><%= link_to 'Edit', edit_restaurant_path(restaurant) %></div>
    <div class="col-md-1"><%= link_to 'Destroy', restaurant, method: :delete, data: { confirm: 'Are you sure?' } %></div>
  </div>

<% end %>
<br>

<%= link_to (I18n.t"new_restaurant"), new_restaurant_path %>
