<p id="notice"><%= notice %></p>

<p>
  <strong><%= I18n.t"name" %>:</strong>
  <%= @restaurant.name %>
</p>

<p>
  <strong><%= I18n.t"description" %>:</strong>
  <%= @restaurant.description %>
</p>

<p>
  <strong><%= I18n.t"hefan" %></strong>
  <% @hefans.each do |hefan| %>
    <%= link_to (hefan.name), edit_restaurant_hefan_path(@restaurant, hefan) %>

  <% end %>
</p>
<br>

<%= link_to (I18n.t"new_hefan"), new_restaurant_hefan_path(@restaurant) %>
<br>
<br>

<%= link_to (I18n.t"edit"), edit_restaurant_path(@restaurant) %> |
<%= link_to (I18n.t"back"), restaurants_path %>
