<h1><%= I18n.t"list_restaurant_hefans" %></h1>

<div class="row">
  <div class="col-md-1"><%= I18n.t"name" %></div>
  <div class="col-md-2"><%= I18n.t"image" %></div>
  <div class="col-md-1"><%= I18n.t"restaurant" %></div>
  <div class="col-md-1"><%= I18n.t"price" %></div>
  <div class="col-md-2"><%= I18n.t"description" %></div>
  <div class="col-md-1">""</div>
  <div class="col-md-1">""</div>
  <div class="col-md-1">""</div>
</div>


<% @restaurant_hefans.each do |restaurant_hefan| %>
  <div class="row">
    <div class="col-md-1"><%= restaurant_hefan.name %></div>
    <div class="col-md-2"><%= restaurant_hefan.photo %></div>
    <div class="col-md-1"><%= restaurant_hefan.restaurant.name %></div>
    <div class="col-md-1"><%= restaurant_hefan.price %></div>
    <div class="col-md-2"><%= restaurant_hefan.description %></div>
    <div class="col-md-1"><%= link_to 'Show', restaurant_hefan %></div>
    <div class="col-md-1"><%= link_to 'Edit', edit_restaurant_hefan_path(restaurant_hefan) %></div>
    <div class="col-md-1"><%= link_to 'Destroy', restaurant_hefan, method: :delete, data: { confirm: 'Are you sure?' } %></div>
  </div>

<% end %>

<br>

<%= link_to (I18n.t"new_restanrant_hefan"), new_restaurant_hefan_path, :class => "btn btn-primary btn-lg" %>
